<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body>
    <div class="container">

        <div class="well">
            <h1><img style="height: 100px;" src="http://www.psdgraphics.com/wp-content/uploads/2010/12/piggy-bank.jpg">
            Piggy bank payment - {{ method.name }}</h1>
        </div>

        <table class="table  table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Image</td>
                    <th>Title</th>
                    <th>Price</th>
                    <th>quantity</th>
                </tr>
            </thead>

            {% for idx, item in order.data.items.items %}

            <tr>
                <td>{{ item.id }}</td>
                <td><img src="{{ item.pictures.0.image.thumb.url }}" /></td>
                <td>{{ item.title }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.qty }}</td>
            </tr>
            {% endfor %}
        </table>

        <form method="post">
            {% csrf_token %}

            <h2>{{ order.sum }} Euro</h2>

             <button type="submit" class="btn btn-lg btn-primary">Confirm payment</button>
        </form>
    </div>

</body>
</html>